html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #e8e8e8;
	font-size: 15px;
	overflow: hidden;
}

*{
	font-size: 15px;
}
#name{
	margin: auto 10px;
	padding: 0;
	font-size: 70px;
	margin-top: 45px;
}

.line{
	width: 100%;
	height: 2px;
	background: #232323;
	margin-top: 40px;
}

#contact{
	position: absolute;
	top: 5px;
	right: 10px;
	margin: 0;
	width: 40%;
	font-size: 20px;
	text-align: right;
}

#otherInfo{
	margin-top: 20px;
	font-size: 20px;
}

#address{
	margin-top: 20px;
	font-size: 20px;
}
#contact h6, #contact a{
	margin: 0;
	font-size: 20px;
	text-align: right;
}

#contact a{
	position: relative;
	margin-top: 5px;
}

#contact h6{
	font-weight: 500;
	margin-top: 5px;
}


#Qualifications{
	margin-top: 10px;
}

.Heading h1{
	font-weight: 500 !important;
	text-decoration: underline;
	font-size: 25px;
}
.Heading{
	display: inline-flex;
	width: 100%;
	margin-left: 10px;
}

.Heading img{
	width: 50px;
	height: 50px;
	margin-top: 3px;
}

#Qualifications ul{
	margin: 0;
	margin-left: 5%;
}

.space{
	margin-top: 7px;
}

.subHeading h2{
	position: relative;
	margin: 0;
	margin-left: 5%;
	font-size: 18px;
	display: inline-flex;

}
.date{
	right: 10px;
	margin: 0;
	top: 0px;
	position: absolute;
	font-size: 15px;
	text-decoration: none;
	font-weight: 500;
}

#school, #place{
	margin: 0;
	margin-left: 5%;
	font-size: 15px;
	text-decoration: none;
	font-weight: 500;
}

.subHeading{
	width: 100%;
	position: relative;
}

#Education ul, #Project ul{
	margin: 0;
	margin-left: 5%;
}
#Education ul{
	margin-top: 1%;
}

#Project ul{
	list-style-type: none;
}
.icon{
	width: 30px;
	height: 30px;
	margin: 0;
}

li{
	font-size: 15px;
}

.oneline{
	display: inline-flex;

}

.oneline2{
	display: inline-flex;
	margin: 0;
	margin-left: 5%;
	width: 100%;
	padding: 0;
}

.oneline2 ul{
	margin: 0;
}
.oneline2 li{
	margin: 0;
	margin-top: 10px;
}

.explanation{
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	margin-left: 50px;
	height: 25px;
}

.projectName{
	margin: auto 10px;
	font-size: 15px;
}

.Heading h1{
	color: #232323;
}

#Project li{
	margin: 0;
}